@charset "utf-8";
/* CSS Document */

/*These Values are universal an will not need to change based on screen size */
/*Global Tags*/
a {
    text-decoration: none;
    color: #FFFFFF;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
}

/*IDs Alphabetical*/
#feature {
    flex: auto;
}


/*Classes Alphabetical*/
.featurecontainer {
    padding: 1%;
    border: rgba(171,0,0,1.00) solid .2em;
}
.featurecontainer:hover {
    border: rgba(255,0,0,1.00) solid .2em;
}
.featurecontainer img{
    width: 100%;
    display: block;
}
.featuretitle {
    margin: 2% 0 1% 0;
    text-align: center;
    font-size: 4em;
    font-family: "MontserratBold"
}
.itemcontainer img{
    width: 100%;
    vertical-align: middle;
}
.itemcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}
.item {
    border-radius: 50%;
    flex: 23%;
    max-width: 23%;
    text-align: center;
    font-size: 1em;
    border: rgba(0,0,0,0.00) solid .2em;
    margin-top: .5%;
    overflow: hidden;
}
.item:hover {
    border: rgba(255,0,0,1.00) solid .2em;
}

.pagecontainer {
    display: block;
    padding-top: 1%;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}
.subfeaturecontainer img{
    width: 100%;
    vertical-align: middle;
}
.subfeaturecontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.subfeatureitem {
    flex: 23%;
    text-align: center;
    font-size: 1em;
    border: rgba(0,0,0,0.00) solid .2em;
    margin-top: .5%;    
}
.subfeatureitem:hover {
    border: rgba(255,0,0,1.00) solid .2em;
}
.subtext {
    font-size: .4em;
    margin-left: 2em;
}
.subtitle {
    margin: 3% 0 1% 0;
    text-align: center;
    font-size: 3em;
}
.subtitle a{
    color:rgba(58,58,58,1.00);
}
.subtitle a:hover{
    color: rgba(108,0,1,1.00);
}
/* Large devices (phones, 992px and down) Changes for MOBILE go Here */
@media only screen and (max-width: 992px) {
    .hiddenformobile {
       position: absolute !important;
       top: -9999px !important;
       left: -9999px !important;
    }
    .pagecontainer {
        padding-top: 1%;
        width: 95%;
    }
    .subfeatureitem {
        flex-direction: row;
        margin-top: 1%;
        padding: 1%;
        flex: 46%;
    }
}

/* Large devices (laptops/desktops, 992px and up) Changes for DESKTOP go Here */
@media only screen and (min-width: 992px) {
    .hiddenfordesktop {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
}