* {
  margin: 0; padding: 0;
}
#wrapper{
  width: 920px;
  height: 680px;
  margin: auto;
  border: solid 2px #000000;
  text-align: center;
}
#title{
  display: block;
  margin: auto;
  width: 900px;
  border: none;
  font-family: Verdana;
  font-size: 100px;
  text-align: center;
}
#line{
  margin-top: -20px;
  margin-bottom: -40px;
  z-index: 2000;
}
.text{
  display: block;
  margin: auto;
  border: none;
  font-family: Verdana;
  font-size: 50px;
  text-align: center;
  width: 900px;
}
.text2{
  display: block;
  margin: auto;
  border: none;
  font-family: Verdana;
  font-size: 30px;
  text-align: center;
  width: 900px;
  padding-bottom: 40px;
}
#price{
  padding-top: 20px;
  display: block;
  margin: auto;
  width: 900px;
  border: none;
  font-family: Verdana;
  font-size: 160px;
  text-align: center;
}
#footer{
  margin: auto;
  padding-top: 8px;
  border-top: thin solid #000000;
  font-family: Arial;
  font-size: 20px;
}