* {
  margin: 0; padding: 0;
}

.wrapper{
  width: 640px;
  height: 410px;
  margin: auto;
  border: solid 2px #000000;
  text-align: center;
  padding-top: 10px;
}
.title{
  display: block;
  margin: auto;
  width: 620px;
  border: none;
  font-family: Verdana;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.line{
  margin-top: -20px;
  margin-bottom: -50px;
  z-index: 2000;
  width: 620px;
}
.text{
  display: block;
  margin: auto;
  border: none;
  font-family: Verdana;
  font-size: 48px;
  text-align: center;
  width: 620px;
}
.footer{
  margin: auto;
  padding-top: 10px;
  border-top: thin solid #000000;
  font-family: Arial;
  font-size: 16px;
}