/* CSS Document */

body {
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: rgba(58,58,58,1.00);
}
a:hover {
    color: rgba(108,0,1,1.00);
}

/*ID tags Alphabetical*/
#container {
    text-align: center;
    display: block;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto; 
}

/*Classes Alphabetical*/
.alert {
    font-size: 2em;
    font-family: "MontserratBold";
    color: rgba(171,0,2,1.00);
}
.bottomlinks {
    display: block;
    margin-bottom: 3em;
}
.bottomlinks a{
    display: block;
    margin-top: .2em;
    margin-bottom: .2em;
    color: rgba(171,0,2,1.00);
    font-size: 2em;
    transition: 0.3s;
}
.bottomlinks a:hover{
    color: rgba(228,0,2,1.00);
}
.featuretitle {
    margin: 2% 0 1% 0;
    text-align: center;
    font-size: 3em;
    font-family: "MontserratBold";
    
}
.options {
    display: inline-block;
    border-radius: 28px;
    border: rgba(171,0,2,1.00) solid 1px;
    background-color: rgba(211,211,211,1.00);
    width: 50%;
    padding: 1em;
    text-align: center;
}
.optionbtn {
	background-color: rgba(255,255,255,1.00);
	border-radius: 5px;
    border: none;
	display: inline-block;
	cursor: pointer;
    font-size: 2.5vw;
    font-family: "MontserratBold";
	color: rgba(212,0,0,1.00);
    padding: 1em;
    margin: .2em 0;
    width: 70%;
	text-decoration: none;
    text-align: center;
    transition: 0.3s;
}
.optionbtn:hover {
	background-color:rgba(230,230,230,1.00);
}
.optionbtn:active {
	position:relative;
	top:1px;
}

@media only screen and (max-width: 992px) {
    .optionbtn {
        width: 70%;
        font-size: 5vw;
    }
    .options {
        width: 90%;
    }

}

